alembic==1.7.6
aniso8601==9.0.1
attrs==21.4.0
branca==0.4.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
dnspython==2.2.0
email-validator==1.1.3
et-xmlfile==1.1.0
Flask==2.1.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
flask-restx==0.5.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
folium==0.12.1.post1
GDAL==3.5.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.12.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
Mako==1.1.6
MarkupSafe==2.0.1
numpy==1.23.0
openpyxl==3.0.9
packaging @ file:///private/tmp/sip--packaging-20220416-83003-1hqovwb/packaging-21.3
pandas==1.4.1
Pillow==9.1.1
ply==3.11
postgis==1.0.4
protobuf==3.19.4
psycopg-postgis==0.4.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pybind11==2.9.2
pycairo==1.21.0
pycountry==22.3.5
PyGObject==3.42.1
pyparsing @ file:///private/tmp/sip--pyparsing-20220416-83003-17i9c2w/pyparsing-3.0.8
PyQt6==6.2.0
PyQt6-3D==6.2.0
PyQt6-Charts==6.2.0
PyQt6-DataVisualization==6.2.0
PyQt6-NetworkAuth==6.2.0
PyQt6-sip==13.1.0
PyQt6-WebEngine==6.2.0
pyrsistent==0.18.1
PySide6==6.2.4
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.19.2
pytz==2021.3
reportlab==3.6.10
requests==2.27.1
scipy==1.8.1
shiboken6==6.2.4
shiboken6-generator==6.2.4
sip==6.6.1
six==1.16.0
SQLAlchemy==1.4.29
TBB==0.2
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
WTForms==3.0.1
wxPython==4.1.1
zipp==3.8.0
