{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Site {{site}} - Visited on {{visit}}{% endblock %}</h1>
{% endblock %}

{% block content %}

<div>
  <h4>Location information</h4>
<strong>Location description:</strong>
	{% if siteinfo[1] == None %}
		<span class='empty'>Description not available.</span>
	{% else %}
		{{ siteinfo[1] }}.
	{% endif %}
<br/>
<strong>Elevation:</strong>
{% if siteinfo[2] == None %}
	<span class='empty'>No elevation data available.</span>
	{% else %}
    {{ siteinfo[2] }} m.
	{% endif %}
<br/>
<strong>Coordinates:</strong>
	{% if siteinfo[3] == None %}
	<span class='empty'>No coordinates data available.</span>

	{% else %}
  <a href='{{url_for("sites.sites_map",survey=visitinfo[6])}}'>
    ({{ siteinfo[3] }} {{ siteinfo[4] }}) SRID: {{ siteinfo[5] }}
    </a>.
	{% endif %}

</div>

<div>
  <h4>Visit</h4>
<strong>Site description:</strong>
	{% if visitinfo[1] == None %}
		<span class='empty'>Description not available.</span>
	{% else %}
		{{ visitinfo[1] }}.
	{% endif %}
<br/>
<strong>Main Observer:</strong>
{% if visitinfo[2] == None %}
	<span class='empty'>No data available.</span>
	{% else %}
    {{ visitinfo[2] }}:
      {{ visitinfo[3] }}
        {{ visitinfo[4] }} .
	{% endif %}
<br/>
<strong>Survey name:</strong>
	{% if visitinfo[6] == None %}
	<span class='empty'>Not assigned to any survey.</span>

	{% else %}
  <a href='{{url_for("visits.visits_list",survey=visitinfo[6])}}'>
    {{ visitinfo[6] }}
  </a>.
	{% endif %}

<p>
  {% if veginfo == None %}
  No information on vegetation type recorded.
  {%else%}
  <strong>Vegetation type:</strong>
  	{% if veginfo[0] == None %}
  		<span class='empty'>Description not available.</span>
  	{% else %}
  		{{ veginfo[0] }}.
  	{% endif %}
  <br/>
  <strong>Vegetation Category ID:</strong>
  {% if veginfo[1] == None %}
  	<span class='empty'>No data available.</span>
  	{% else %}
      {{ veginfo[1] }} (confidence
        {{ veginfo[2] }}).
  	{% endif %}
  <br/>
  <strong>Threatened ecological community:</strong>
  	{% if veginfo[3] == None %}
  	<span class='empty'>No data available.</span>

  	{% else %}
      {{ veginfo[3] }}.
  	{% endif %}
  {% endif %}
</p>

{% if estvars|length == 0 %}
No information on vegetation structure recorded.
{%else%}
  <table>
    <caption>Estimated/Measured variables</caption>
      <tr><th>Variable</th><th>units</th><th>Best</th><th>Lower - Upper bounds</th></tr>
  {% for pair in estvars %}
    <tr>

      <td>{{ pair[0] }}</td>
      <td>{{ pair[1] }}</td>
      {% if pair[2] == None %}
        <td class='empty'>None given</td>
      {% else %}
        <td>{{ pair[2] }}</td>
      {% endif %}
      {% if pair[3] == None and pair[4] == None%}
        <td class='empty'>None given</td>
      {% else %}
        <td>{{ pair[3] }} &ndash;  {{ pair[4] }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </table>
  {% endif %}
</div>

<div>

  <p>
    {% if smpinfo == None %}
    No information on field samples recorded.
    {%else%}
    <strong>Sample method:</strong>
    	{% if smpinfo[0] == None %}
    		<span class='empty'>Method not described.</span>
    	{% else %}
    		{{ smpinfo[0] }}.
    	{% endif %}
    <br/>
    <strong>Nr. of sample units:</strong>
        {{ smpinfo[1] }}
    {% endif %}
  </p>


  {% if spplist|length == 0 %}
  No species added to the samples.
  {%else%}
    <table>
      <caption>List of species in samples</caption>
        <tr><th>Family</th><th>Species code</th><th>Species</th><th>Notes</th></tr>
    {% for pair in spplist %}
      <tr>

        {% if pair[0] == None %}
          <td class='empty'>Information missing</td>
        {% else %}
          <td>
          <a href="{{ url_for( 'species.sp_list', id=pair[0] ) }}">{{ pair[0] }}</a></td>
        {% endif %}

        {% if pair[2] == pair[3]%}
          <td><i><a href="{{ url_for( 'species.sp_info', id=pair[4] ) }}">{{ pair[1] }}</a></i></td>
        {% else %}
          <td><i>{{ pair[1] }}</i></td>
        {% endif %}
        <td><i>{{ pair[2] }}</i></td>


        {% if pair[2] != pair[3] and pair[3] != None %}

          <td>
            refering to: <i><a href="{{ url_for( 'species.sp_info', id=pair[4] ) }}">{{ pair[3] }}</a></i>
          </td>
        {% else %}
          <td class='empty'></td>
        {% endif %}

      </tr>
    {% endfor %}
    </table>
    {% endif %}
  </div>

{% endblock %}
