{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<p> By registering to this site, you agree to our <a href="{{ url_for('terms') }}">Terms of use</a>.
</p>
  <form method="post">
    <label for="username">Email (will be used as username)</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
