{% extends 'base.html' %}

{% block header %}
  <h1>Site information for ''{% block title %}{{ the_title }}{% endblock %}''</h1>
{% endblock %}

{% block content %}
<div>
  <h4>Site</h4>
<strong>Location description:</strong>
	{% if info[1] == None %}
		<span class='empty'>Description not available.</span>
	{% else %}
		{{ info[1] }}.
	{% endif %}
<br/>
<strong>Elevation:</strong>
{% if info[2] == None %}
	<span class='empty'>No elevation data available.</span>
	{% else %}
    {{ info[2] }} m.
	{% endif %}
<br/>
<strong>Coordinates:</strong>
	{% if info[3] == None %}
	<span class='empty'>No coordinates data available.</span>

	{% else %}
    ({{ info[3] }} {{ info[4] }}) SRID: {{ info[5] }} .
	{% endif %}

</div>

<div>
  <h4>Visits</h4>
  <table>
      <tr><th>Survey</th><th>Date</th><th>Visit description</th><th>Main observer</th><th>Other observers</th></tr>
  {% for pair in visit %}
      <tr>

        {% if pair[6] == "TO BE CLASSIFIED" %}
          <td class='empty'>Not assigned to survey</td>
        {% else %}
          <td>{{ pair[6] }} </td>
        {% endif %}
        <td><a href="{{ url_for( 'sites.visit_info', id=the_title,dt=pair[0] ) }}">{{ pair[0] }}</a></td>

          {% if pair[1] == None %}
            <td class='empty'>Description not available.</td>
          {% elif pair[1]|length > 30 %}
            <td>{{ pair[1]|truncate(30) }}  </td>
          {% else %}
            <td>{{ pair[1] }}.  </td>
          {% endif %}

          {% if pair[2] == None %}
            <td class='empty'>No main observer recorded.</td>
          {% else %}
            <td>{{ pair[2] }} {{ pair[3] }} {{ pair[4] }} </td>
          {% endif %}

          {% if pair[5] == None %}
            <td class='empty'>No additional observers recorded.</td>
          {% else %}
            <td>
              {{ pair[5] | join("; ")}}
            </td>
          {% endif %}

      </tr>
  {% endfor %}
  </table>

  </div>

  <div>
    <h4>Fire history</h4>
    <table>
        <tr><th>Fire name</th><th>Fire date</th><th>How inferred</th><th>Cause of ignition</th></tr>
    {% for pair in fire %}
        <tr>
          {% if pair[0] == None %}
            <td class='empty'>No fire name recorded.</td>
          {% else %}
            <td>{{ pair[0] }}</td>
          {% endif %}

            <td>{{ pair[1] }} :: {{ pair[1] + pair[2] }} </td>
            {% if pair[3] == None %}
              <td class='empty'>No data recorded.</td>
            {% else %}
              <td>{{ pair[3] }}</td>
            {% endif %}
            {% if pair[4] == None %}
              <td class='empty'>No data recorded.</td>
            {% else %}
              <td>{{ pair[4] }}</td>
            {% endif %}
        </tr>
    {% endfor %}
  </table>
</div>

<!-- NOTE the way to link to a route: Use the function name -->
<p><a href="{{ url_for('sites.sites_list') }}">Return to the list</a> to select a different site.</p>

{% endblock %}
