{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}


<p>The <b>Fire Ecology Traits for Plants</b> project is being developed by J.R. Ferrer-Paris and David Keith</p>
<p>Centre for Ecosystem Science, University of New South Wales</p>

<p>Source code for this project is available in the following repositories:

<ul>
  <li><a href="https://github.com/jrfep/fireveg-db">https://github.com/jrfep/fireveg-db</a></li>
  <li><a href="https://github.com/jrfep/fireveg-webapp">https://github.com/jrfep/fireveg-webapp</a></li>
  <li><a href="https://github.com/jrfep/fire-veg-aust">https://github.com/jrfep/fire-veg-aust</a></li>
</ul>
</p>


{% endblock %}
