<!doctype html>
<title>{% block title %}{% endblock %} - Fireveg DB</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<nav>
  <h1 class='title'>Vegetation response to fire - Database prototype</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<nav>
  <b>Navigate &gt; &gt; </b>
  <ul>
    <li><span><a href='{{ url_for('index') }}'>Database summary</a></span>
    <li><span><a href='{{ url_for('sites.sites_list') }}'>All sites</a></span>
    <li><span><a href='{{ url_for('species.fam_list') }}'>All species</a></span>
    <li><span><a href='{{ url_for('traits.trait_sum') }}'>All traits</a></span>
    <li><span><a href='#'>Documentation</a></span>
    <li><span><a href='{{ url_for('about') }}'>About</a></span>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
