{% extends 'base.html' %}

{% block content %}

<h2>Fire Ecology Traits for Plants</h2>
<h3>A database for fire research and management</h3>

<p>You are required to register to access the content of this site.</p>

<div>
<p>Developers: Jose Ferrer-Paris and David Keith <br>
Centre for Ecosystem Science, University of New South Wales
</p>
  <p>
<b>Preferred citation:</b>
Ferrer-Paris, J. R. and Keith, D. A. (2022) Fire Ecology Traits for Plants: A database for fire research and management. Version 1.00. Centre for Ecosystem Science, University of New South Wales, Sydney, Australia.
</p>

<p>Supported by: 
  <a href="https://www.unsw.edu.au/" target='supported'>UNSW Sydney</a>;
  <a href="https://www.bushfirehub.org/" target='supported'>NSW Bushfire Research Hub</a>;
    <a href="https://www.nespthreatenedspecies.edu.au/" target='supported'>NESP Threatened Species Recovery Hub</a>;
      <a href="https://www.planning.nsw.gov.au/" target='supported'>NSW Department of Planning & Environment</a></p>
</div>
{% endblock %}
