{% extends 'base.html' %}

{% block content %}

<h2>Fire Ecology Traits for Plants</h2>
<h3>A database for fire research and management</h3>

<p>You are required to register to access the content of this site.</p>

<div>
<p>Developers: Jose Ferrer-Paris and David Keith <br>
Centre for Ecosystem Science, University of New South Wales
</p>
  <p>
<b>Preferred citation:</b>
Ferrer-Paris, J. R. and Keith, D. A. (2022) Fire Ecology Traits for Plants: A database for fire research and management. Version 1.00. Centre for Ecosystem Science, University of New South Wales, Sydney, Australia.
</p>

<p>Supported by: University of NSW; NSW Bushfire Research Hub; NESP Threatened Species Recovery Hub; NSW Department of Planning & Environment</p>
</div>
{% endblock %}
