{% extends 'base.html' %}

{% block content %}

<h1>{{ info[0] }}</h1>


<p>{{ info[0] }}: {{ info[1] }}. </p>

<p>
	{% if info[2] == None %}
    No elevation data available.
	{% else %}
    Elevation: {{ info[2] }} m.
	{% endif %}
</p>

<p>
	{% if info[3] == None %}
    No coordinates data available.
	{% else %}
    Coordinates: ({{ info[3] }} {{ info[4] }}) SRID: {{ info[5] }} .
	{% endif %}
</p>

<!-- NOTE the way to link to a route: Use the function name -->
<p><a href="{{ url_for('sites') }}">Return to the list</a> to select a different site.</p>

{% endblock %}
