{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Terms of use{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
This web page represents our Terms of Use regarding this website. By using this website, you agree to be bound by these Terms of Use. 
We may amend these Terms of Use at any time by posting the amended terms on our Website.
</p>

<h2 class="terms">Copyrights and Ownership</h2>
<p  class="terms">
All images, text, and other materials posted on this website are subject to copyrights owned by Fire Ecology Traits for Plants, 
Centre for Ecosystem Science,  or other individuals or entities and are protected by international copyright laws.
</p>
<p  class="terms">
With the exception of photographs, reproduction of this website’s content for educational or other non-commercial purposes is authorized 
without prior written permission from the copyright holder, provided the source is fully acknowledged. 
Reproduction of this website’s content for resale or other commercial purposes is prohibited without prior written permission of the copyright holder.
</p>
<p  class="terms">
When sharing text from our website online, we ask that you credit us and link back to our web site – and preferably directly to the page on which you found the original content.
</p>
<p  class="terms">
Due to copyrights, we cannot authorize you to use or share any images from this site without specific permission, unless they are already licenced for reuse under a 
Creative Commons licence and labelled as such.
</p>
<p  class="terms">
All logos and trademarks referred to or appearing on this site are the property of their respective owners.
</p>

<h2  class="terms">Accuracy of information</h2>
<p  class="terms">All reasonable endeavours have been used to ensure the accuracy and updating of the content of this Website. However, no warranty is given to that effect, nor is any liability accepted by the 
Fire Ecology Traits for Plants
for any loss or damage arising from the use of this Website.
</p>

<h2  class="terms">Links to Third-Party Websites</h2>
<p  class="terms">Our Website contains links to Websites owned or operated by parties other than 
Fire Ecology Traits for Plants. Such links are provided for your reference only. 
We do not monitor or control outside Websites and are not responsible for their content.
</p>

<hr>
<p  class="terms">Latest update: December 1st, 2023</p>

<p>The <b>Fire Ecology Traits for Plants</b> project is being developed by J.R. Ferrer-Paris and David Keith</p>
<p>Centre for Ecosystem Science, University of New South Wales</p>



{% endblock %}
