{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{the_title}}{% endblock %}</h1>
{% endblock %}
{% block content %}

<ul>
<dt>{{ ref['ref_code'] }}
{% if ref.alt_code != None %}
  ( {{ref.alt_code}} )
{% endif %}
</dt>
    <dd>{{ ref.ref_cite }}</dd>

  </ul>


  {% for tt in traits %}
    {% if tt['count'] > 0 %}

    <p>This references provides data for <b><a href="{{url_for('traits.trait_info',group=tt['metadata']['db_table'][0],var=tt['metadata']['db_column'][0])}}">{{tt['metadata']['Trait name'][0]}}</a></b> for {{tt['count']}} species.  </p>
      {% if tt['count'] == tt['list']| length %}
        Species list below:
        {% else %}
        Some examples below:
      {% endif %}
      <table>
      <tr>
        <th>Originally recorded as</th>
      </tr>
      {% for entry in tt['list'] %}
        <tr><td>
      {% if entry.species_id != None %}
      <a href="{{url_for('species.sp_info',id=entry.species_id)}}">{{entry.species}} ({{entry.species_code}}) [{{entry.species_id}}]</a>
      {% else %}
        {{entry.species}} ({{entry.species_code}}) [{{entry.species_id}}]
      {% endif %}
        </td></tr>
      {% endfor %}
      <table>
    {% endif %}
  {% endfor %}


{% endblock %}
