{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List of species{% endblock %}</h1>
{% endblock %}
{% block content %}
{% include 'species/search.html' %}
<p>Species with recorded fire related traits. Click any species's name to see more information about fire related traits.</p>

    <table>
        <tr><th rowspan='2'>Family</th>
          <th colspan=3>Nr. of species</th></tr>
          <tr><th >In CAPS</th><th>Literature traits</th><th>in Field samples</th></tr>

    {% for pair in pairs %}
        <tr>
          <td><a href="{{ url_for( 'species.sp_list', id=pair[0] ) }}">{{ pair[0] }}</a></td>

          {% if pair[1] == None %}
            <td class='empty'>Description not available.</td>
          {% else %}
            <td>{{ pair[1] }}</td>
          {% endif %}
          {% if pair[2] == 0 %}
            <td class='empty'>None</td>
          {% else %}
            <td>{{ pair[2] }}</td>
          {% endif %}
          {% if pair[3] == 0 %}
            <td class='empty'>None</td>
          {% else %}
            <td>{{ pair[3] }}</td>
          {% endif %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}
