{% extends 'base.html' %}

{% block header %}

  <h1><i>{% block title %}{{ info[0] }}{% endblock %}</i>  </h1>
    <span>
      <strong>Family:</strong>
      {% if info[2] == None %}
    		<span class='empty'>uncertain?</span>
    	{% else %}
      <a href="{{ url_for('species.sp_list', id =info[2]) }}">{{ info[2]}}</a>
    	{% endif %}

      <strong>Species ID:</strong>
    	{% if info[1] == None %}
    		<span class='empty'>no code</span>
    	{% else %}
    		{{ info[1] }}
    	{% endif %}
     </span>

{% endblock %}

{% block content %}
Check: {{check}}
<div style="position:relative">
  <h2>Species information</h2>
  <h4 class='credits'>(from BioNET export)</h4>
  <table>
    <tr>
      <th>Taxonomic rank</th>
      <td>{{info[3]}}</td>
    </tr>
    <tr>
      <th>Scientific name</th>
      <td><i>{{info[0]}}</i> {{info[6]}}</td>
    </tr>
    <tr>
      <th>Vernacular name</th>
    {% if info[7] == None %}
  	<td class='empty'>No value recorded.</td>
  	{% else %}
    <td>{{ info[7] }}</td>
  	{% endif %}
  </tr>
  <tr>
    <th>Establishment means</th>
  {% if info[8] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ info[8] }}</td>
  {% endif %}
    </tr>

    <tr>
      <th>Conservation status (NSW)</th>
    {% if info[11] == None %}
    <td class='empty'>No value recorded.</td>
    {% else %}
    <td>
      {% if info[14]  %}
        <a href="https://www.environment.nsw.gov.au/threatenedspeciesapp/profile.aspx?id={{ info[14] | int }}" target="TSprofile">{{ info[11] }}</a>
      {% else %}
        {{ info[11] }}

      {% endif %}
    </td>
    {% endif %}
  </tr>

  <tr>
    <th>Conservation status (Australia)</th>
  {% if info[13] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ info[13] }}</td>
  {% endif %}
</tr>

    <tr>
      <th>Growth Form Groups</th>
    {% if info[9] == None and info[10] == None %}
    <td class='empty'>No value recorded.</td>
    {% else %}
    <td>{{ info[9] }}
      {% if info[10] != None %}
         / [ {{ info[10] }} ]
         {% endif %}
            </td>
    {% endif %}
      </tr>
</table>

<div style="position:absolute; right:10%; top:0%">
{% for obs in inat_obs %}

  <img src="{{ obs.photos[0].small_url }}" alt="{{ obs.place_guess }}">
  <h4 style="font-size: 10px; word-wrap: break-word;">
    {{ obs.place_guess }} <br>
    {{ obs.observed_on }} <br>
    By: <a href="{{obs.uri}}">{{ obs.user.name }} @ iNaturalist</a>
    </h4>

{% endfor %}
</div>


<p>Click tab to display information on:</p>

<button class='selecttab' onclick="openTab('Occurrence Map (from ALA)')">Occurrence Map (from ALA)</button>

{% if fsamp==None or fsamp|length == 0 %}
  <button class='dontselecttab'>No field samples for this taxon</button>
{% else %}
  <button class='selecttab' onclick="openTab('Field samples')">Field samples</button>
{% endif %}

{% if traits==None or traits|length == 0 %}
  <button class='dontselecttab'>No literature records for this taxon</button>
{% else %}
  <button class='selecttab' onclick="openTab('Traits from literature records')">Traits from literature records</button>
{%endif%}
<!--
{% if vag==None or vag|length == 0 %}
  <button class='dontselecttab'>No data for Vital Attributes</button>
{% else %}
  <button class='selecttab' onclick="openTab('Vital Attributes')">Vital Attributes</button>
{%endif%} -->

{% if mainrefs|length>0 or addrefs|length> 0 %}
  <button class='selecttab' onclick="openTab('References')">References</button>
{%endif%}


{% if fsamp==None or fsamp|length == 0 %}
{% else %}
  <div class="tabs" id="Field samples" style="">
    <h2>Field samples</h2>
    <p>The data in this table summarises field work records for this species.</p>
      <table>
        <tr>
          <th>Originally recorded as</th>
          <th>Site id</th>
          <th>Visit date</th>
          <th>Nr. of subplots</th>
          <th>Seedbank</th>
          <th>Regenerative organ</th>
        </tr>
        {% for entry in fsamp %}
          <tr><td><i>{{entry[3]}}</i> / species code {{entry[4]}}</td>
          <td>
          <a href="{{ url_for('sites.site_info', id =entry[0]) }}">{{ entry[0]}}</a></td>
          <td>  <a href="{{ url_for('visits.visit_info', id =entry[0], dt=entry[1]) }}">{{ entry[1]}}</a></td>
          <td>{{ entry[2] }}</td>
          {% if entry[5] == None %}
          <td class='empty'>No value recorded.</td>
          {% else %}
          <td>{{ entry[5] }}</td>
          {% endif %}
          {% if entry[6] == None %}
          <td class='empty'>No value recorded.</td>
          {% else %}
          <td>{{ entry[6] }}</td>
          {% endif %}
          </tr>
        {% endfor %}
      </table>
    </div>
{% endif %}

<div class="tabs" id="Occurrence Map (from ALA)" style="">
  <div class="occ_map">
  <img src="https://biocache.ala.org.au/ws/density/map?q={{info[0]}}" style="width:330px;" alt="Density of occurrences for {{info[0]}}"/>
  <div class="occ_legend" >Occurrences in <a href='https://bie.ala.org.au/search?q={{info[0]}}' target='_blank'>Atlas of Living Australia</a></div>
    </div>
  </div>

{% if traits==None or traits|length == 0 %}
{% else %}
  <div class="tabs" id="Traits from literature records" style="">
    <h2>Fire related traits (from literature)</h2>
<p>The data in these tables is collated from multiple published and unpublished sources. The <i>Main reference</i> or <i>Main source</i> field indicates the proximate source of the records displayed here, but further details and context can be found in the <i>original sources</i>. Follow the links for the trait value records for each individual trait to consult all sources, original notes and values.</p>
   {% set vars = {'spcode': False} %}
      {% for tt in traits %}
        {% if tt['count'] > 0 %}

        <h4>{{tt['metadata']['code'][0]}} &mdash; {{tt['metadata']['name'][0]}}</h4>

        <p><a href="{{url_for('traits.trait_info',group=tt['metadata']['code'][0],var=tt['metadata']['value_type'][0])}}">Information about this trait</a> / <a href="{{url_for('traits.spp', trait=tt['trait'], code=info[5])}}">Review trait values for this species</a></p>

        <table>
          {% if tt['metadata']['value_type'][0] == 'categorical' %}
          <tr> <th>Species</th> <th>Value</th> <th>Nr. of records</th> <th>Weight</th> <th>Main reference</th> </tr>
          {% else %}
          <tr><th>Species</th><th>Years</th><th>Main reference</th></tr>
          {% endif %}
          {% for entry in tt['list'] %}
            {% if tt['metadata']['value_type'][0] == 'categorical' %}
            <tr>
                 {% if vars.spcode != entry['species'] %}
                 {% set vars = {'spcode': entry['species']} -%}
                 <td><i>{{entry['species']}}</i> / species code {{entry['species_code']}}</td>
                 {% else %}
                 <td></td>
                 {% endif %}
               {% if entry['norm_value'] == None %}
                 <td class='empty'>No value recorded.</td>
               {% else %}
               <td>{{ entry['norm_value'] }}</td>
               <td>{{entry['count']}}</td>
               <td>{{entry['weight']}}</td>
             {% endif %}
               {% if entry['main_source'] == None %}
                 <td class='empty'>No value recorded.</td>
               {% else %}
                 <td><a onclick="openTab('References')" href="#{{entry['main_source']}}">{{ entry['main_source']  }}</a></td>
               {% endif %}
               </tr>
            {% else %}
              {% if vars.spcode != entry[1] %}
              {% set vars = {'spcode': entry[1]} -%}
              {% endif %}

              <tr>
              <td><i>{{entry.species}}</i> / species code {{entry.species_code}}</td>

              <td>
              {% if entry['best'] == None %}
              {% if entry['lower'] == None and entry['upper'] != None %}
               &lt; {{ entry['upper'] }}
              {% elif entry['lower'] != None and entry['upper'] == None %}
               &gt; {{ entry['lower'] }}
              {% elif entry['lower'] != None and entry['upper'] != None %}
               ({{ entry['lower'] }} &ndash; {{ entry['upper'] }})
              {% else %}
              <span class='empty'>No value recorded.</span>
              {% endif %}
              {% else %}
              {% if entry['lower'] == None and entry['upper'] != None %}
               {{ entry['best'] }} (&lt; {{ entry['upper'] }})
              {% elif entry['lower'] != None and entry['upper'] == None %}
               {{ entry['best'] }} (&gt; {{ entry['lower'] }})
              {% elif entry['lower'] != None and entry['upper'] != None %}
               {{ entry['best'] }} ({{ entry['lower'] }} &ndash; {{ entry['upper'] }})
              {% else %}
               {{ entry['best'] }}
              {% endif %}
              {% endif %}
              </td>
              {% if entry['main_source'] == None %}
              <td class='empty'>No value recorded.</td>
              {% else %}
              <td><a onclick="openTab('References')" href="#{{entry['main_source']}}">{{ entry['main_source']  }}</a></td>
              {% endif %}
              </tr>
            {% endif %}
          {% endfor %}
        </table>
        {% endif %}
    {% endfor %}

  </div>
{%endif%}

{% if vag==None or vag|length == 0 %}
{% else %}
<div class="tabs" id="Vital Attributes" style="">

<h2>Vital Attributes Group</h2>

<p>The species has been tentatively assigned to the following Vital Attribute Groups based on the summary of traits reported in the literature.</p>

<table>
  <tr>
    <th>Persistence</th>

      {%if vag['persistence'] == None %}
        <td class='empty'>Missing information</td>
      {% else %}
      <td>
        {% for k in ('D','Δ','S','Σ','G','Γ','V','U','C','W') %}
            {%if k in vag['persistence'] %}
            <span  class='itis'>{{k}}</span>
            {% else %}
            <span class='isnot'>{{k}}</span>
            {% endif %}
          {% endfor %}
        </td>
      {% endif %}


    <th>Establishment</th>
    {%if vag['establishment'] == None %}
      <td class='empty'>Missing information</td>
    {% else %}
    <td>
      {% for k in ('I','I/T','T','T/r','R') %}
          {%if k in vag['establishment'] %}
          <span  class='itis'>{{k}}</span>
          {% else %}
          <span class='isnot'>{{k}}</span>
          {% endif %}
        {% endfor %}
    </td>
    {% endif %}

  </tr>
  <tr>
    {%if vag['status_persistence'] == None %}
    <td colspan='2' class='empty'></td>
    {% else%}
    <td colspan='2' class='notes'>
      {% for entry in vag['status_persistence']%}
        / {{entry}} /
      {% endfor %}
    </td>
    {% endif %}
    {%if vag['status_establishment'] == None %}
    <td colspan='2' class='empty'></td>
    {% else%}
    <td colspan='2' class='notes'>
      {% for entry in vag['status_establishment']%}
        / {{entry}} /
      {% endfor %}
    </td>
    {% endif %}
  </tr>
  {%if vag['rationale_persistence'] != None %}
  <tr>
    <td colspan=4  class='notes'>
      <ol><b>Rationale for persistence</b>
        {% for entry in vag['rationale_persistence'] %}
          <li>{{entry}}</li>
        {% endfor %}
      </ol>

    </td>
  </tr>
  {%endif%}
</table>

</div>
{%endif%}


{% if mainrefs|length>0 or addrefs|length> 0 %}

<div class="tabs" id="References" style="">

<h2>References</h2>
<ul>
<h3>Main references</h3>
  <ul>
    {% for ref in mainrefs %}
    <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
      {% if ref['alt_code'] != None %}
        ( {{ref.alt_code}} )
      {% endif %}</dt>
        <dd>{{ ref.ref_cite }}</dd>
    {% endfor %}
 </ul>
<h3>Additional references</h3>
 <ul>
   {% for ref in addrefs %}
   <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
     {% if ref['alt_code'] != None %}
       ( {{ref.alt_code}} )
     {% endif %}</dt>
       <dd>{{ ref.ref_cite }}</dd>
   {% endfor %}
 </ul>
</ul>

</div>
{%endif%}


</div> 

{% endblock %}
