{% extends 'base.html' %}

{% block header %}
  <h1>
    <i>{% block title %}{{ info[0] }}{% endblock %}</i>  </h1>
    <span>
      <strong>Family:</strong>
      {% if info[2] == None %}
    		<span class='empty'>uncertain?</span>
    	{% else %}
      <a href="{{ url_for('species.sp_list', id =info[2]) }}">{{ info[2]}}</a>
    	{% endif %}

      <strong>Species ID:</strong>
    	{% if info[1] == None %}
    		<span class='empty'>no code</span>
    	{% else %}
    		{{ info[1] }}
    	{% endif %}
     </span>


{% endblock %}

{% block content %}
<div>
  <h2>Species information</h2>
  <table>
    <tr>
      <th>Taxonomic rank</th>
      <td>{{info[3]}}</td>
    </tr>
    <tr>
      <th>Scientific name</th>
      <td><i>{{info[0]}}</i> {{info[6]}}</td>
    </tr>
    <tr>
      <th>Vernacular name</th>
    {% if info[7] == None %}
  	<td class='empty'>No value recorded.</td>
  	{% else %}
    <td>{{ info[7] }}</td>
  	{% endif %}
  </tr>
  <tr>
    <th>Establishment means</th>
  {% if info[8] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ info[8] }}</td>
  {% endif %}
    </tr>

    <tr>
      <th>Growth Form Groups</th>
    {% if info[9] == None and info[10] == None %}
    <td class='empty'>No value recorded.</td>
    {% else %}
    <td>{{ info[9] }}
      {% if info[10] != None %}
         / [ {{ info[10] }} ]
         {% endif %}
            </td>
    {% endif %}
      </tr>
</table>

<div class="occ_map">
<img src="https://biocache.ala.org.au/ws/density/map?q={{info[0]}}" style="width:330px;" alt="Density of occurrences for {{info[0]}}"/>
<div class="occ_legend" >Occurrences in <a href='https://bie.ala.org.au/search?q={{info[0]}}' target='_blank'>Atlas of Living Australia</a></div>
  </div>
</div>
<h2>Field samples</h2>

{% if fsamp|length == 0 %}
<h3 class='empty'>No field samples recorded for this taxon</h3>
{% else %}
<table>

<tr>
  <th>Species name used</th>
  <th>Site id</th>
  <th>Visit date</th>
  <th>Nr. of samples</th>
  <th>Seedbank</th>
  <th>Regenerative organ</th>
</tr>
{% for surv in fsamp %}

<tr><td><i>{{surv[3]}}</i> / species code {{surv[4]}}</td>
  <td>
  <a href="{{ url_for('sites.site_info', id =surv[0]) }}">{{ surv[0]}}</a></td>
  <td>  <a href="{{ url_for('sites.visit_info', id =surv[0], dt=surv[1]) }}">{{ surv[1]}}</a></td>
  <td>{{ surv[2] }}</td>
  {% if surv[5] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ surv[5] }}</td>
  {% endif %}
  {% if surv[6] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ surv[6] }}</td>
  {% endif %}
</tr>

{% endfor %}
<table>
{% endif %}


  <h2>Fire related traits (from literature)</h2>
  {% if survs|length == 0 %}
  <h3 class='empty'>No survival traits recorded for this taxon</h3>
  {% else %}
    <h3>Survival traits</h3>
{% for surv in survs %}
<table>
  <tr><th colspan=2><i>{{surv[0]}}</i> / species code {{surv[1]}}</th></tr>
<tr>
  <th>Resprouting</th>
  {% if surv[2] == None %}
	<td class='empty'>No value recorded.</td>
	{% else %}
  <td>{{ surv[2] }}</td>
	{% endif %}
</tr>

<tr>
  <th>Regenerative organ</th>
  {% if surv[3] == None %}
	<td class='empty'>No value recorded.</td>
	{% else %}
  <td>{{ surv[3] }}</td>
	{% endif %}
</tr>

<tr>
  <th>Standing Plant Longevity</th>
  {% if surv[4] == None %}
	<td class='empty'>No value recorded.</td>
	{% else %}
  <td>{{ surv[4] }}</td>
	{% endif %}
</tr>
<tr>
  <th>Seedank halflife</th>
  {% if surv[5] == None %}
	<td class='empty'>No value recorded.</td>
	{% else %}
  <td>{{ surv[5] }}</td>
	{% endif %}
</tr>
<tr>
  <th>Seed longevity</th>
  {% if surv[6] == None %}
	<td class='empty'>No value recorded.</td>
	{% else %}
  <td>{{ surv[6] }}</td>
	{% endif %}
</tr>

</table>
{% endfor %}
{% endif %}

{% if resp|length == 0 %}
<h4 class='empty'>No resprouting traits recorded for this taxon</h4>
{% else %}
  <h4>Resprouting</h4>
  {% set vars = {'spcode': False} %}
  <table>

{% for surv in resp %}
  {% if vars.spcode != surv[1] %}
  <tr><th colspan=4><i>{{surv[0]}}</i> / species code {{surv[1]}}</th></tr>
  <tr>
  <th>Resprouting</th>
  <th>Raw values in main reference</th>
  <th>Main reference</th>
  <th>Cited references</th>
  </tr>

    {{ vars.update({'spcode':surv[1]}) }}
  {% endif %}

<tr>
{% if surv['norm_value'] == None %}
<td class='empty'>No value recorded.</td>
{% else %}
<td>{{ surv['norm_value'] }}</td>
{% endif %}
{% if surv['raw_value'] == None %}
<td class='empty'>No value recorded.</td>
{% else %}
<td>{{ surv['raw_value']  }}</td>
{% endif %}
{% if surv['main_source'] == None %}
<td class='empty'>No value recorded.</td>
{% else %}
<td>{{ surv['main_source']  }}</td>
{% endif %}
{% if surv[4] == None %}
<td class='empty'>No value recorded.</td>
{% else %}
<td>
  {% for entry in surv[4] %}
  {{ (refs | selectattr("alt_code","equalto",entry) | map(attribute="ref_code") | list)[0] }} //
  {% endfor %}
</td>
{% endif %}
</tr>
{% endfor %}

</table>
{% endif %}

<h2>References</h2>
{% for ref in refs %}
<ul>
<dt>{{ ref['ref_code'] }} ( {{ref.alt_code}} )</dt>
    <dd>{{ ref.ref_cite }}</dd>

  </ul>
{% endfor %}


{% endblock %}
