{% extends 'base.html' %}

{% block header %}
  <h1>
    <i>{% block title %}{{ info[0] }}{% endblock %}</i>  </h1>
    <span>
      <strong>Family:</strong>
      {% if info[2] == None %}
    		<span class='empty'>uncertain?</span>
    	{% else %}
      <a href="{{ url_for('species.sp_list', id =info[2]) }}">{{ info[2]}}</a>
    	{% endif %}

      <strong>Species ID:</strong>
    	{% if info[1] == None %}
    		<span class='empty'>no code</span>
    	{% else %}
    		{{ info[1] }}
    	{% endif %}
     </span>


{% endblock %}

{% block content %}
<div>
  <h2>Species information</h2>
  <table>
    <tr>
      <th>Taxonomic rank</th>
      <td>{{info[3]}}</td>
    </tr>
    <tr>
      <th>Scientific name</th>
      <td><i>{{info[0]}}</i> {{info[6]}}</td>
    </tr>
    <tr>
      <th>Vernacular name</th>
    {% if info[7] == None %}
  	<td class='empty'>No value recorded.</td>
  	{% else %}
    <td>{{ info[7] }}</td>
  	{% endif %}
  </tr>
  <tr>
    <th>Establishment means</th>
  {% if info[8] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ info[8] }}</td>
  {% endif %}
    </tr>

    <tr>
      <th>Conservation status (NSW)</th>
    {% if info[11] == None %}
    <td class='empty'>No value recorded.</td>
    {% else %}
    <td>{{ info[11] }}</td>
    {% endif %}
  </tr>

  <tr>
    <th>Conservation status (Australia)</th>
  {% if info[13] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ info[13] }}</td>
  {% endif %}
</tr>

    <tr>
      <th>Growth Form Groups</th>
    {% if info[9] == None and info[10] == None %}
    <td class='empty'>No value recorded.</td>
    {% else %}
    <td>{{ info[9] }}
      {% if info[10] != None %}
         / [ {{ info[10] }} ]
         {% endif %}
            </td>
    {% endif %}
      </tr>
</table>

<div class="occ_map">
<img src="https://biocache.ala.org.au/ws/density/map?q={{info[0]}}" style="width:330px;" alt="Density of occurrences for {{info[0]}}"/>
<div class="occ_legend" >Occurrences in <a href='https://bie.ala.org.au/search?q={{info[0]}}' target='_blank'>Atlas of Living Australia</a></div>
  </div>
</div>
<h2>Field samples</h2>

{% if fsamp|length == 0 %}
<h3 class='empty'>No field samples recorded for this taxon</h3>
{% else %}
<table>

<tr>
  <th>Species name used</th>
  <th>Site id</th>
  <th>Visit date</th>
  <th>Nr. of samples</th>
  <th>Seedbank</th>
  <th>Regenerative organ</th>
</tr>
{% for entry in fsamp %}

<tr><td><i>{{entry[3]}}</i> / species code {{entry[4]}}</td>
  <td>
  <a href="{{ url_for('sites.site_info', id =entry[0]) }}">{{ entry[0]}}</a></td>
  <td>  <a href="{{ url_for('sites.visit_info', id =entry[0], dt=entry[1]) }}">{{ entry[1]}}</a></td>
  <td>{{ entry[2] }}</td>
  {% if entry[5] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ entry[5] }}</td>
  {% endif %}
  {% if entry[6] == None %}
  <td class='empty'>No value recorded.</td>
  {% else %}
  <td>{{ entry[6] }}</td>
  {% endif %}
</tr>

{% endfor %}
<table>
{% endif %}


  <h2>Fire related traits (from literature)</h2>


{% if surv1|length == 0 %}
<span class='empty'>No resprouting traits recorded for this taxon</span>
{% else %}
  <h4>Resprouting</h4>
  {% set vars = {'spcode': False} -%}
  <table>
    {% for entry in surv1 %}
      <tr>
      <th>Species</th>
      <th>Resprouting</th>
      <th>Main reference</th>
      </tr>

      <tr>
        {% if vars.spcode != entry['species'] %}
        {% set vars = {'spcode': entry['species']} -%}
        <td><i>{{entry['species']}}</i> / species code {{entry['species_code']}}</td>
        {% else %}
        <td></td>
        {% endif %}
      {% if entry['norm_value'] == None %}
        <td class='empty'>No value recorded.</td>
      {% else %}
      <td><a href="{{url_for('traits.spp', trait='surv1', code=entry.species_code)}}">{{ entry['norm_value'] }}</a></td>
    {% endif %}
      {% if entry['main_source'] == None %}
        <td class='empty'>No value recorded.</td>
      {% else %}
        <td><a href="#{{entry['main_source']}}">{{ entry['main_source']  }}</a></td>
      {% endif %}
      </tr>
    {% endfor %}

</table>
{% endif %}


{% if repr3|length == 0 %}
<h4 class='empty'>No first flowering traits recorded for this taxon</h4>
{% else %}
  <h4>First flowering</h4>
  {% set vars = {'spcode': False} %}
  <table>
    <tr>
    <th>Species</th>
    <th>Time to first flower [years]</th>
    <th>Main reference</th>
    </tr>
{% for entry in repr3 %}
  {% if vars.spcode != entry[1] %}
  {% set vars = {'spcode': entry[1]} -%}
  {% endif %}

<tr>
  <td><i>{{entry.species}}</i> / species code {{entry.species_code}}</td>

<td><a href="{{url_for('traits.spp', trait='repr3', code=entry.species_code)}}">
  {% if entry['best'] == None %}
    {% if entry['lower'] == None and entry['upper'] != None %}
      &lt; {{ entry['upper'] }}
    {% elif entry['lower'] != None and entry['upper'] == None %}
      &gt; {{ entry['lower'] }}
    {% elif entry['lower'] != None and entry['upper'] != None %}
      ({{ entry['lower'] }} &ndash; {{ entry['upper'] }})
    {% else %}
    <span class='empty'>No value recorded.</span>
    {% endif %}
  {% else %}
    {% if entry['lower'] == None and entry['upper'] != None %}
      {{ entry['best'] }} (&lt; {{ entry['upper'] }})
    {% elif entry['lower'] != None and entry['upper'] == None %}
      {{ entry['best'] }} (&gt; {{ entry['lower'] }})
    {% elif entry['lower'] != None and entry['upper'] != None %}
      {{ entry['best'] }} ({{ entry['lower'] }} &ndash; {{ entry['upper'] }})
    {% else %}
      {{ entry['best'] }}
    {% endif %}
  {% endif %}
</a></td>


{% if entry['main_source'] == None %}
<td class='empty'>No value recorded.</td>
{% else %}
<td><a href="#{{entry['main_source']}}">{{ entry['main_source']  }}</a></td>

{% endif %}
</tr>
{% endfor %}

</table>
{% endif %}

<h2>References</h2>
<ul>
<h3>Main references</h3>
  <ul>
    {% for ref in mainrefs %}
    <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
      {% if ref['alt_code'] != None %}
        ( {{ref.alt_code}} )
      {% endif %}</dt>
        <dd>{{ ref.ref_cite }}</dd>
    {% endfor %}
 </ul>
<h3>Additional references</h3>
 <ul>
   {% for ref in addrefs %}
   <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
     {% if ref['alt_code'] != None %}
       ( {{ref.alt_code}} )
     {% endif %}</dt>
       <dd>{{ ref.ref_cite }}</dd>
   {% endfor %}
 </ul>
</ul>

{% endblock %}
