{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List of species{% endblock %}</h1>
{% endblock %}
{% block content %}
<p>Species with recorded fire related traits. Click any species's name to see more information about fire related traits.</p>

<table>
    <tr><th colspan=2>Species</th><th>Vernacular name</th><th>Survival traits</th></tr>
{% for pair in pairs %}
  <tr>
            {% if pair[0] == None %}
              <td class='empty'>no code</td>
          {% else %}
          <td><a href="{{ url_for( 'species.sp_info', id=pair[0] ) }}">{{ pair[0] }}</a></td>
          {% endif %}

          <td><i>{{ pair[1] }}</i></td>

          {% if pair[2] == None %}
            <td class='empty'>No common name</td>
          {% else %}
            <td>{{ pair[2] }}</td>
          {% endif %}
          {% if pair[3] == 0 %}
            <td class='empty'>None recorded</td>
          {% else %}
            <td>{{ pair[3] }}</td>
          {% endif %}
        </tr>
    {% endfor %}
    </table>

{% endblock %}
