{% extends 'base.html' %}

{% block header %}
  <h1>Summary of fire-related traits</h1>
{% endblock %}

{% block content %}
<h2>Survival traits</h2>
<p>
  Species/taxa with survival traits:	{{ surv_info[0] }}.
</p>

<p>
  Species with information on resprouting:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='resprouting' ) }}">{{ surv_info[1] }}</a>.
</p>

<p>
  Species with information on regenerative organ:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='regenerative_organ' ) }}">{{ surv_info[2] }}</a>.
</p>

<p>
  Species with information on standing plant longevity:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='standing_plant_longevity' ) }}">{{ surv_info[3] }}</a>.
</p>

<p>
  Species with information on seedbank halflife:	{{ surv_info[4] }}.
</p>


{% endblock %}
