{% extends 'base.html' %}

{% block header %}
  <h1>Summary of fire-related traits</h1>
{% endblock %}

{% block content %}
<h2>Survival traits</h2>
<p>
  Species/taxa with survival traits:	{{ surv_info[0] }}.
</p>

<h3>Resprouting - full canopy scorch</h3>
<p>
  Species with information on resprouting:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='resprouting' ) }}">{{ surv_info[1] }}</a>.
</p>
  <table class='definitions'>
    <caption class='definitions'>Definitions</caption>
    <tr><th>None</th><td>&lt;5% individuals in a population resprout after 100% canopy scorch.</td></tr>
      <tr><th>Few</th><td>5 &ndash; 30% individuals in a population resprout after 100% canopy scorch.</td></tr>
        <tr><th>Half</th><td>30 &ndash; 70% individuals in a population resprout after 100% canopy scorch.</td></tr>
          <tr><th>Most</th><td>70 &ndash; 90% individuals in a population resprout after 100% canopy scorch.</td></tr>
            <tr><th>All</th><td>&gt;90% individuals in a population resprout after 100% canopy scorch.</td></tr>
              <tr><th>Unknown</th><td>No data</td></tr>
              </table>

<h3>Regenerative organ</h3>

<p>
  Species with information on regenerative organ:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='regenerative_organ' ) }}">{{ surv_info[2] }}</a>.
</p>

<h3>Standing plant longevity</h3>

<p>
  Species with information on standing plant longevity:	<a href="{{ url_for( 'traits.trait_list', group='survival',var='standing_plant_longevity' ) }}">{{ surv_info[3] }}</a>.
</p>

<table class='definitions'>
  <caption class='definitions'>Definitions</caption>
  <tr><th>years [integer]</th><td>Age at which 50% of individuals in a cohort (excluding outliers) have died from senescence.</td></tr>
  </table>

<h3>Seedbank halflife</h3>

<p>
  Species with information on seedbank halflife:	{{ surv_info[4] }}.
</p>

<table class='definitions'>
  <caption class='definitions'>Definitions</caption>
  <tr><th>years [integer]</th><td>Age at which 50% of a seed cohort in an in situ seedbank have decayed or become inviable.</td></tr>
  </table>

{% endblock %}
