{% extends 'base.html' %}

{% block header %}
  <h1>Summary of fire-related traits</h1>
{% endblock %}

{% block content %}
  <h3>Priority traits</h3>
<table>
        <thead>
          <tr>
            {% for col in column_names[0:4] %}
            <th>
              {{col}}
            </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in row_data %}
          <tr>
            <th>{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
            {% if row[5] == 0 %}
            <td colspan='2' class='empty'></td>
            {% else %}
            <td><a href="{{ url_for( 'traits.trait_info', group=row[5], var=row[6]) }}">Info</a></td>
            
            {% endif%}
          </tr>
          {% endfor %}
      </tbody>
      </table>

<div class=page>
  {% for table in tables %}
    <h3>{{titles[loop.index]}}</h3>
    {{ table|safe }}
  {% endfor %}
</div>
{% endblock %}
