{% extends 'base.html' %}

{% block header %}
  <h1>Summary of fire-related traits</h1>
{% endblock %}

{% block content %}
<h2>{{trait[0][2]}} / {{trait[0][3]}} traits</h2>

<h3>{{trait[0][0]}} &ndash; {{trait[0][1]}}</h3>
<p>
  Data on {{trait[0][1]}} from {{mainrefs|length}} main references and {{addrefs|length}} additional references.

</p>
  <table class='definitions'>
    <thead>
      <tr>
        <th>Value</th>
        <th>Description</th>
        <th>Nr. of taxa</th><th>(valid BioNet taxa)</th>
      </tr>
      </thead>
      <tbody>
        {% if var == 'best' %}
          <tr>
            <td>{{desc[0][0]}}</td>
            <td>{{desc[0][1]}}</td>
            <td>{{ spps | selectattr('var','equalto', True) | map(attribute='nspp') | join(' ')}}</td>
            <td>{{ spps | selectattr('var','equalto', True) | map(attribute='ncode') | join(' ')}}</td>
            </tr>
            <tr>
              <td class='empty'>Missing value</td>
              <td>Imported raw values not matching assignment rules</td>
              <td>{{ spps | selectattr('var','equalto', False) | map(attribute='nspp') | join(' ')}}</td>
              <td>{{ spps | selectattr('var','equalto', False) | map(attribute='ncode') | join(' ')}}</td>
              </tr>
        {% else %}
          {% for pair in desc %}
            <tr>
              <td>{{pair[0]}}</td>
              <td>{{pair[1]}}</td>
              <td>{{ spps | selectattr('var','equalto', pair[0]) | map(attribute='nspp') | join(' ')}}</td>
              <td>{{ spps | selectattr('var','equalto', pair[0]) | map(attribute='ncode') | join(' ')}}</td>
              </tr>
          {% endfor %}
              <tr>
                <td class='empty'>Missing value</td>
                <td>Data entry error, needs review</td>
                <td>{{ spps | selectattr('var','equalto', None) | map(attribute='nspp') | join(' ')}}</td>
                <td>{{ spps | selectattr('var','equalto', None) | map(attribute='ncode') | join(' ')}}</td>
                <td><a href="{{ url_for( 'traits.trait_qa', group=trait[0][0]) }}">Review values</a></td>
                </tr>
        {% endif %}
      </tbody>
  </table>

  <h2>References</h2>
  <ul>
  <h3>Main references</h3>
    <ul>
      {% for ref in mainrefs %}
      <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
        {% if ref['alt_code'] != None %}
          ( {{ref.alt_code}} )
        {% endif %}</dt>
          <dd>{{ ref.ref_cite }}</dd>
      {% endfor %}
   </ul>
  <h3>Additional references</h3>
   <ul>
     {% for ref in addrefs %}
     <dt id="{{ ref['ref_code'] }}"><a href="{{ url_for('biblio.ref_info', id =ref.ref_code) }}">{{ ref['ref_code'] }}</a>
       {% if ref['alt_code'] != None %}
         ( {{ref.alt_code}} )
       {% endif %}</dt>
         <dd>{{ ref.ref_cite }}</dd>
     {% endfor %}
   </ul>
  </ul>

{% endblock %}
